<!DOCTYPE html>
<html>
  <head>
    <title>Lambtown</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render 'partials/nav' %>
<div class="container">

  <body>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Posts', posts_path %>
    <%= yield %>
  </body>
</div>

</html>
